@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.cdnfonts.com/css/keep-on-truckin-2');
/* font-family: 'Keep on Truckin', sans-serif; */
                                                
body {
    background-color: #fffde8;
}
.container {
    height: 660px;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C93C3C;
    width: 92%;
    float: right;
    font-family: 'Montserrat', sans-serif;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #80CEFD;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9a2e2e;
  }
  .logo  {
    width: 100px;
    height: auto;
    display: flex;
  }
  #name {
    font-family: 'Keep on Truckin', sans-serif;
    color: #496D84;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
  }
.skills {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#ui-ux {
    color: #FD9799;
    margin-right: 10px;
}
#web {
    color: #80CEFD;
    margin-right: 10px;
}
#fashion {
    color: #C93C3C;
}
.apps {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.projects {
    position: absolute;
    text-align: center;
    left: 300px;
    font-size: 14px;
}
.email {
    position: absolute;
    text-align: center;
    top: 250px;
    left: 400px;
    font-size: 14px;
}
.resume  {
    position: absolute;
    text-align: center;
    top: 140px;
    left: 600px;
    font-size: 14px;
}
.about {
    position: absolute;
    text-align: center;
    font-size: 14px;
    left: 1000px;
    top: 50px;
}
.linkedin {
    position: absolute;
    text-align: center;
    font-size: 14px;
    top: 250px;
    left: 1100px;
}
.insta {
    position: absolute;
    text-align: center;
    font-size: 14px;
    top: 250px;
    left: 1200px;
}
button {
    position: absolute;
    width: 110px;
    background-color: #C93C3C;
    color: #fffde8;
    top: 510px;
    left: 625px;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #496D84;
}

/* /////// my skills page starts here  */
section.myskills {
    /* background-color: red; */
    height: 450px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #496D84;
}
div.figma {
    width: 33%;
    text-align: center;  
    font-size: 12px; 
}
.figma img {
    box-shadow: 5px 5px 5px rgb(124, 124, 124);
}
div.uxui-design {
    width: 33%;
    text-align: center;
    font-size: 12px;
}
.uxui-design img {
    box-shadow: 5px 5px 5px rgb(124, 124, 124);
}
div.ui-research {
    width: 33%;
    text-align: center;
    font-size: 12px;
}
.ui-research img {
    box-shadow: 5px 5px 5px rgb(124, 124, 124);
}
/* ////// projects starts here  */
section.mywork {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #496D84;
    /* background-color: red;
    height: 450px;
    display: grid;
    grid-template-columns: 300px 300px; */
    /* background-color: white; */
    /* grid-area: ; */
}
.workgrid {
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 210px 210px;
    gap: 10px;
    /* background-color: #80CEFD; */
    padding: 10px;
    justify-content: center;
}
.workgrid > div {
    /* background-color: #80CEFD; */
    text-align: center;
    padding: 20px 0;
}
button#filter-button {
    position: absolute;
    top: 130px;
    margin-left: 200px;
}
button#artlet-button {
    position: absolute;
    top: 350px;
    margin-left: 200px;
}
#filter-button:hover, #artlet-button:hover {
    background-color: #496D84;
}
#h3-work {
    position: absolute;
    margin-left: 1150px;
    bottom: 1px;
}
#h3-work:hover {
    color: #FD9799;
}




/* ///////// footer below  */
footer {
    height: 50px;
    background: #C93C3C;
    color: #80CEFD;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}